<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/j2ee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/j2ee http://xmlns.jcp.org/xml/ns/j2ee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HOTELBh</display-name>
<welcome-file>Home.jsp</welcome-file>
<servlet>
<servlet-name>booking</servlet-name>
<servlet-class>com.register.java.Bookingregister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>booking</servlet-name>
<url-pattern>/Bookingregister</url-pattern>
</servlet-mapping>
 
</web-app>